<div class="box">
    <div class="row" *ngIf="!loading">
        <div class="col-md-5 col-sm 12">
            <img [src]="data.image" alt="product">
        </div>
        <div class="col-md-7 col-sm-12">
            <div class="info">
                <ul class="list-unstyled">
                    <li>Title: {{data.title}}</li>
                    <li>Category: {{data.category}}</li>
                    <li>Description: {{data.description}}</li>
                    <li>Rate: {{data.rating.rate}}</li>
                    <li>count: {{data.rating.count}}</li>
                    <li>Price: {{data.price}}</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="text-center">
        <app-spinner *ngIf="loading"></app-spinner>
    </div>
</div>